ipykernel
ibm-watsonx-ai
python-dotenv
rich
transformers
torch
torchvision 
torchaudio
pysqlite3-binary
langchain_community
beautifulsoup4
langchain_chroma
nbformat
pandas
matplotlib
ibm_db
itables
langchain_ibm
tiktoken